<div class="main" igxLayout>
  <igx-nav-drawer id="navigation" [isOpen]="drawerState.open" [(pin)]="drawerState.pin">
    <ng-template igxDrawer>
      <nav>
        <div *ngIf="auth.user$ | async as user; else login">
          <button class="button" (click)="auth.signOut()">Sign Out</button>
        </div>
        
        <ng-template #login>
          <button class="button" (click)="auth.googleSignin()">Login with Google</button>
        </ng-template>
        <span igxDrawerItem [isHeader]="true">Menu</span>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
        </span>
    </nav>
    </ng-template>
    <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
        <nav>
          <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
            <igx-icon fontSet="material">{{ item.name }}</igx-icon>
          </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex [class.mini-padding]="!drawerState.pin && drawerState.miniTemplate">
    <span igxButton="icon" igxToggleAction="navigation">
      <igx-icon fontSet="material">menu</igx-icon>
    </span>

    <h2>
      <span class="setting-title">{{ selected }}</span>
    </h2>
    <section>
      <div *ngIf="selected == 'Import'" >
        <app-import-data></app-import-data>
      </div>
      <div *ngIf="selected == 'Inventory'" >
        <h5 class="setting-title">{{selected}}</h5>
        <app-inventory></app-inventory>
      </div>
      <div *ngIf="selected == 'Stripe'" >
        <h5 class="setting-title">{{selected}}</h5>
        <app-stripe-pay></app-stripe-pay>
      </div>
    </section>
  </main>
</div>
